span{
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
}
#ui-container1{
	width: 688px;
	height: auto;
	display: flex;
	flex-wrap: wrap;
}
#ui-route{
	width: 80px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	font-weight: bold;
	font-size: 13px;
	border-radius: 3px;
	color: #ffffff;
	background: linear-gradient(#2F94CD, #1B88C4); 
}
#ui-time{
	width: 19px;
	height: 19px;
	text-align: center;
	line-height: 19px;
	font-size: 13px;
	border-radius: 3px;
	color: #ffffff;
	margin-left: 6px;
	padding-left: 2px;
	background: linear-gradient(#FB7A12, #FF4002); 
}
#ui-strip{
	width: 688px;
	height: 4px;
	margin-top: -3px;
	background: #1B88C4; 
}
.ui-container1-common{
	width: 688px;
	border-left: 1px solid #BBBBBB;
	border-right: 1px solid #BBBBBB;
	border-bottom: 1px solid #BBBBBB;
}
.ui-message{
	height: 50px;
    background: linear-gradient(#FFFFFF, #F2F3F3);
}
.ui-toolbar{
    height: 23px;
    background-color: #FFFBDE;
    display: flex;
    flex-wrap: nowrap;
}
.ui-message-pattern1{
	color: #CF0000;
	font-size: 16px;
	font-weight: bold;
}
.ui-message-pattern2{
	color: #CF0000;
	font-size: 13px;
	margin-left: -4px;
}
.ui-message-item1{
	margin-left: 8px;
}
.ui-message-pattern3{
	color: #444444;
	font-size: 13px;
}
.ui-message-item2{
	margin-left: 19px;
}
.ui-message-pattern4{
	color: #CF0000;
	font-size: 13px;
	font-weight: bold;
}
.ui-message-pattern5{
	color: #000000;
	font-size: 13px;
	font-weight: bold;
	margin-left: 3px;
}
#ui-toolbar-img1{
	margin-top: 4px;
    margin-left: 578px;
    margin-right: 3px;
    font-size: 15px;
}
.ui-toolbar-text{
	color:rgb(0,44,189);
	font-size: 13px;
	padding-top: 2px;
	text-decoration: underline;
}
#ui-toolbar-img2{
	margin-top: 5px;
    margin-left: 10px;
    margin-right: 3px;
    font-size: 13px;
}
#ui-container2{
	width: 688px;
	height: auto;
	margin-top: 5px;
	display: flex;
	flex-wrap: wrap;
}
.ui-container2-commom{
	height: 16px;
	text-align: center;
	font-size: 13px;
	line-height: 16px;
	color: #607D90;
	background-color: #CEDCE8;
}
.ui-title1{
	width: 405px;
}
.ui-title2{
	width: 64px;
    margin-left: 1px;
}
.ui-title3{
	width: 70px;
    margin-left: 1px;
}
.ui-title4{
	width: 80px;
    margin-left: 1px;
}
.ui-title5{
	width: 65px;
    margin-left: 1px;
}
.ui-block{
	width: 688px;
	height: 40px;
	background-color: #F2F2F2;
	border: 1px solid #BBBBBB;
	border-top: 1px solid #ffffff;
	line-height: 40px;
}
#ui-block-img1{
	margin-top:9px;
	margin-left: 75px;
	font-size: 13px;
	color: #ffffff;
	-webkit-text-stroke: 1px rgb(41,159,238);  
}
#ui-block-img2{
	margin-top: 10px;
	margin-left: -2px;
	font-size: 15px;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 50%, from(rgb(41,159,238)), to(#0D7DD0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ui-block-text0{
	font-size: 13px;
	margin-left: 33px;
}
.ui-block-text1{
	font-weight: bold;
	font-size: 16px;
	color: #000000;
}
.ui-block-text2{
	font-size: 13px;
	color: #000000;
	margin-left: 240px;
}
#ui-block-text2-wrap1{
    margin-top: -48px;
    margin-left: 170px;
}
#ui-block-text2-wrap2{
	margin-top: -26px;
	margin-left: 170px;
}
.ui-block-text3{
	font-size: 12px;
	color: rgb(0,44,189);
	margin-left: 55px;
	text-decoration: underline;
}
.ui-block-text4{
	font-size: 12px;
	color: rgb(0,44,189);
	margin-left: 2px;
	text-decoration: underline;
}
#ui-block-text34{
	margin-top: -50px;
	margin-left: 470px;
}
#ui-container3{
	width: 688px;
	height: 40px;
	display: flex;
	flex-wrap: nowrap;
}
.ui-container3-item1{
    width: 405px;
}
#ui-item1-text1-wrap1{
    font-size: 13px;
    font-weight: bold;
    padding-left: 12px;
    padding-top: 2px;
}
#ui-item1-text1-wrap2{
    font-size: 13px;
    padding-left: 33px;
    margin-top: -3px;
}
.ui-container3-item2{
	width: 64px;
	border-left: 1px solid #BBBBBB;
}
.ui-container3-item3{
	width: 70px;
	border-left: 1px solid #BBBBBB;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
}
.ui-container3-item4{
	width: 80px;
	border-left: 1px solid #BBBBBB;
    font-size: 13px;
	color: #000000;
	text-align: center;
}
#ui-container3-item4-wrap1{
	padding-top: 3px;
}
#ui-container3-item4-wrap2{
	margin-top: -2px;
}
.ui-container3-item5{
	width: 65px;
	border-left: 1px solid #BBBBBB;
	font-size: 13px;
	color: #000000;
	text-align: center;
	line-height: 40px;
}
#ui-container4{
	border-top: 1px solid #BBBBBB;
}
#ui-block-img3{
	margin-left: 27px;
	font-size: 4px;
	-webkit-text-stroke: 2px rgb(41,159,238);  
	color: #ffffff;
}
.ui-block-text5{
	font-size: 13px;
	color: #000000;
	margin-left: 260px;
}
.ui-block-text6{
	font-size: 12px;
	color: rgb(0,44,189);
	margin-left: 103px;
	text-decoration: underline;
}
#ui-container5{
	width: 688px;
	height: 35px;
	display: flex;
	flex-wrap: nowrap;
}
.ui-item1-bar{
    height: 40px;
    border-left: 6px solid #96C7D8;
    outline: 2px dashed #FFFFFF;
    outline-offset: -4px; 
    margin-left: 102px;
    margin-top: -33px;
}
#ui-item1-right{
	margin-left: 115px;
	margin-top: -30px;
}
.ui-item1-fa{
	color: #0096F9;
	margin-top: -6px;
	margin-left: 6px;
}
.ui-item1-fa1{
	color: rgb(0,126,84);
	margin-top: -6px;
	margin-left: 6px;
}
.ui-item1-text{
	color: #0069A3;
	font-size: 13px;
	margin-left: 47px;
	margin-top: -18px;
	text-decoration: underline;
}
.ui-item1-nounderline{
	color: #0069A3;
	font-size: 13px;
	margin-left: 48px;
	margin-top: -18px;
}
.ui-item1-bar1{
    height: 35px;
    border-left: 6px solid #96C7D8;
    outline: 2px dashed #FFFFFF;
    outline-offset: -4px; 
    margin-left: 102px;
    margin-top: -33px;
}
.ui-item1-type1{
	color: rgb(41,159,238);
	font-size: 13px;
	font-weight: bold;
	margin-left: 25px;
	margin-top: -20px;
}
.ui-item1-type2{
	color: rgb(0,126,84);
	font-size: 13px;
	font-weight: bold;
	margin-left: 25px;
	margin-top: -20px;
}