h3{
	font-family: 'Microsoft YaHei UI Light';
}
span{
	font-family: 'Microsoft YaHei';
}
#ui-box1{
	display: flex;
	width: 800px;
	height: 600px;
	border: 1px solid #4D5753;
	background-color: #CDD3F5;
	flex-wrap: wrap;
}
#ui-box1-head{
	display: flex;
    width: 760px;
    height: 120px;
    margin: 19px;
    border: 1px solid #4D5753;
    background-color: #99BD90;
    flex-wrap: wrap;
}
#ui-box1-body{
	display: flex;
    width: 760px;
    height: 420px;
    margin: 19px;
    margin-top: 0px;
    border: 1px solid #4D5753;
    background-color: #99BD90;
}
#ui-box1-body-container1{
	display: flex;
    width: 240px;
    height: 420px;
    flex-wrap: wrap;
}
#ui-box1-body-container2{
	display: flex;
    width: 520px;
    height: 420px;
    flex-wrap: wrap;
}
.ui-box1-head-square{
	width: 80px;
	height: 80px;
	margin: 19px;
	border: 1px solid #4D5753;
	background-color: #CDD3F5;
}
.ui-box1-head-rectangle{
	border: 1px solid #99BD90;
	background-color: #99BD90;
	flex-grow: 1;
}
.ui-box1-body-big{
	width: 200px;
	height: 300px;
	margin: 19px;
	margin-bottom: 0px;
	border: 1px solid #4D5753;
	background-color: #CDD3F5;
}
.ui-box1-body-fSmall{
	width: 50px;
	height: 50px;
	margin-top: -5px;
	margin-left: 19px;
	border: 1px solid #4D5753;
	background-color: #CDD3F5;
}
.ui-box1-body-small{
	width: 50px;
	height: 50px;
	margin-top: -5px;
	margin-left: 23px;
	border: 1px solid #4D5753;
	background-color: #CDD3F5;
}
.ui-box1-body-fRectangle{
    width: 480px;
    height: 40px;
    margin-left: 19px;
    margin-top: 19px;
	border: 1px solid #4D5753;
	background-color: #CDD3F5;
}
.ui-box1-body-rectangle{
    width: 480px;
    height: 40px;
    margin-left: 19px;
    margin-top: -14px;
	border: 1px solid #4D5753;
	background-color: #CDD3F5;
}
#ui-box2{
	display: flex;
	width: 390px;
	height: 370px;
	border: 1px solid #4D5753;
	flex-wrap: wrap;
}
#ui-box2-img{
    width: 390px;
    height: 260px;
    background-color: #FFFFEB;
    border-bottom: 1px solid #4D5753;
    margin-bottom: -1px;
}
#ui-box2-content{
	display: flex;
    width: 390px;
    height: 110px;
    margin-top: 1px;
    border-bottom: 1px solid #4D5753;
    background-color: #FFE6F4;
    flex-wrap: wrap;
}
.ui-box2-content-title{
	font-size: 8px;
	font-weight: bold;
	padding-left: 6px;
	line-height: 20px;
	color: #575757;
    width: 370px;
    height: 20px;
    border: 1px solid #4D5753;
    margin: 9px;
    background-color: #FFFFFF;
}
.ui-box2-content-message{
	font-size: 8px;
	font-weight: bold;
	padding-left: 6px;
	line-height: 20px;
	color: #F60740;
    width: 370px;
    height: 20px;
    border: 1px solid #4D5753;
    margin: 9px;
    background-color: #FFFFFF;
    margin-top: 0px;
}
.ui-box2-content-item{
	display: flex;
    width: 370px;
    height: 30px;
    border: 1px solid #4D5753;
    margin: 9px;
    background-color: #FFFFFF;
    margin-top: 0px;
    flex-wrap: wrap;
}
#ui-box2-content-Nprice:before{
	content: "¥ ";
    font-size: 15px;
    font-weight: bold;
}
#ui-box2-content-Nprice{
    color: #575757;
	font-size: 20px;
	font-weight: bold;
	padding-left: 8px;
	line-height: 30px;
	color: #F60740;
}
#ui-box2-content-Pprice:before{
	content: "¥";
    font-size: 8px;
    font-weight: bold;
}
#ui-box2-content-Pprice{
	color: #575757;
	font-size: 8px;
	text-decoration: line-through;
	line-height: 20px;
	padding-left: 5px;
	padding-top: 10px;
}
#ui-box2-content-amount{
	color: #575757;
	font-size: 8px;
	line-height: 20px;
	padding-left: 130px;
	padding-top: 10px;
}
#ui-box3{
	display: flex;
	width: 1233px;
	height: 803px;
	border: 1px solid #4D5753;
	background-color: #F2F2F2;
	flex-wrap: wrap;
}
#ui-box3-container{
	display: flex;
	width: 390px;
	height: 370px;
	border: 1px solid #E7E7E7;
	flex-wrap: wrap;
	margin-top: 14px;
	margin-bottom: 14px;
	margin-left: 14px;
}
#ui-box3-img{
    width: 390px;
    height: 260px;
    background-color: #FFFFEB;
    border-bottom: 1px solid #E7E7E7;
    margin-bottom: -1px;
}
#ui-box3-content{
	display: flex;
    width: 390px;
    height: 110px;
    margin-top: 1px;
    border-bottom: 1px solid #E7E7E7;
    background-color: #FFFFFF;
    flex-wrap: wrap;
}
.ui-box3-content-title{
	font-size: 15px;
	font-weight: bold;
	padding-left: 5px;
	line-height: 15px;
	color: #575757;
    width: 370px;
    height: 20px;
    margin: 9px;
    margin-bottom: -8px;
    background-color: #FFFFFF;
}
#ui-box3-content-message{
    width: 370px;
    height: 20px;  
    background-color: #FFFFFF;
}
#ui-box3-content-Rmessage{
	padding-left: 15px;
	color: #F6336F;
	font-size: 15px;
	font-weight: bold;
	line-height: 15px;
    width: 370px;
    height: 20px;
}
.ui-box3-content-Bmessage{
	color: #A2A49F;
	font-size: 15px;
	font-weight: bold;
	line-height: 15px;
    width: 370px;
    height: 20px;
}
.ui-box3-content-item{
	display: flex;
    width: 370px;
    height: 30px;
    margin: 9px;
    padding-top: 5px;
    background-color: #FFFFFF;
    margin-top: 0px;
    flex-wrap: wrap;
}
#ui-box3-content-Nprice:before{
	content: "¥ ";
    font-size: 18px;
    font-weight: bold;
}
#ui-box3-content-Nprice{
    color: #575757;
	font-size: 30px;
	font-weight: bold;
	padding-left: 8px;
	line-height: 30px;
	color: #F60740;
}
#ui-box3-content-Pprice:before{
	content: "¥";
    font-size: 10px;
    font-weight: bold;
    color: #A2A49F;
}
#ui-box3-content-Pprice{
	color: #A2A49F;
	font-size: 10px;
	text-decoration: line-through;
	padding-top: 12px;
	padding-left: 5px;
	font-weight: bold;
	line-height: 20px;
}
#ui-box3-content-amount{
	font-size: 10px;
	line-height: 20px;
	padding-top: 12px;
	padding-left: 185px;
	color: #F60740;
}
#ui-box3-content-text{
	color: #A2A49F;
	font-size: 10px;
	line-height: 20px;
	padding-top: 12px;
	padding-left: 3px;
}