html, body{
	width: 100%;
	height: 100%;
}
.ui-container{
	height: 80%;
	display: flex;
	flex-wrap: nowrap;
}
#map{
	width: 67%;
    height: 100%;
    margin-left: 2%;
    margin-right: 3%;
}
#result{
	width: 25%;
	height: 100%;
	overflow:auto;
	overflow-x: hidden;
}
#schoolmap{
	width: 67%;
	margin-left: 2%;
}